*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    overflow: hidden;
}

body{
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.gallery{
    max-width: 1128px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    gap: 24px;
}